<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <style>
    {{ css_content|safe }}
  </style>
</head>

{% load custom_filters %}

<body>
  <div class="container">
    {% if atencion %}
      <!-- Datos de la mascota y responsable -->
      <div class="superior">
        <img src="{{ logo_data_uri }}" height="90" style="width:100%" />
        <h2>PROGRAMA DE ESTERILIZACIÓN</h2>
      </div>

      <div class="cuadro" id="datos_animal">
        <h3>Datos del Animal</h3>
        <div class="mi-row">
          <div class="column">
            <p><strong>Nombre:</strong> {{ animal.nombre|default:"No especificado" }}</p>
            <p><strong>Especie:</strong> {{ animal.id_especie.nombre }}</p>
            <p><strong>Raza:</strong> {{ animal.id_raza.nombre }}</p>
            <p><strong>Sexo:</strong> {% if animal.sexo == "M" %}Macho {% else %} Hembra{%endif %}</p>
          </div>
          <div class="column">
            <p><strong>Edad:</strong> {{ edad|default:"No especificado" }}</p>
            <p><strong>Tamaño:</strong> {{ animal.id_tamaño.nombre }}</p>
            <p><strong>Pelaje(color):</strong> {{ colores_nombres|default:"No especificado" }}</p>
            <p><strong>Peso(kg):</strong> {{ atencion.peso_kg|default:"No especificado" }}</p>
          </div>
        </div>
        {% if animal.adoptado_imusa %}
        <div class="rescatado">
          <h4>Animal rescatado por IMUSA</h4>
        </div>
        {% endif %}
      </div>

      <div class="cuadro" id="datos_responsable">
        <h3>Datos del Responsable</h3>
        <div class="mi-row">
          <div class="column">
            <p><strong>Nombre:</strong> {{ responsable.nombre }}</p>
            <p><strong>Apellido:</strong> {{ responsable.apellido }}</p>
            <p><strong>DNI:</strong> {{ responsable.dni }}</p>
          </div>
          <div class="column">
            <p><strong>Dirección:</strong> {{ domicilio_actual|default:"No especificado" }}</p>
            <p><strong>Teléfono:</strong> {{ responsable.telefono|default:"No especificado" }}</p>
            <p><strong>Correo:</strong> {{ responsable.mail|default:"No especificado" }}</p>
          </div>
        </div>
      </div>

      {% if medicamentos %}
        <div class="cuadro" id="medicamento">
          <h3>Medicamentos Suministrados</h3>
          {% for mi in medicamentos %}
            {% if forloop.counter0|divisibleby:2 %}
              <div class="mi-row">
                <div class="column_30">
                  <p><strong>{{ mi.nombre }}</strong></p>
                </div>
                <div class="column_20">
                  <p>{{ mi.cantidad }} ml</p>
                </div>
                {% if not forloop.last %}
                  {% with siguiente=medicamentos|index:forloop.counter %}
                    <div class="column_30">
                      <p><strong>{{ siguiente.nombre }}</strong></p>
                    </div>
                    <div class="column_20">
                      <p>{{ siguiente.cantidad }} ml</p>
                    </div>
                  {% endwith %}
                {% else %}
                  <div class="column_30"></div>
                  <div class="column_20"></div>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}

      <div class="cuadro" id="egreso">
        <h3>Egreso</h3>
        <div class="mi-row">
          <div class="column">  
            <p><strong>Estado sanitario al egreso:</strong> {{ estado_egreso.nombre }}</p>
            <p><strong>Observaciones:</strong> {{ atencion.observaciones|default:"No especificado" }}</p>
          </div>
        </div>
      </div>

      <div class="cuadro" id="datos_veterinario">
        <h3>Datos del Veterinario</h3>
        <div class="mi-row">
          <div class="column">
            <p><strong>Nombre:</strong> {{ veterinario.nombre }}</p>
            <p><strong>Apellido:</strong> {{ veterinario.apellido }}</p>
            <p><strong>DNI:</strong> {{ veterinario.dni }}</p>
            <p><strong>Matricula:</strong> {{ personal.matricula }}</p>
            <p><strong>Efector:</strong> {{ efector.nombre }}</p>
          </div>

          {% if veterinario_firma_uri %}
            <div class="column">
              <img src="{{ veterinario_firma_uri }}" class="firma-img" />
            </div>
          {% endif %}
        </div>
      </div>

      <div class="cuadro" id="autorizacion">
        <h3>Autorización</h3>
        <div class="mi-row">
          <p>
            <strong>Quien entrega Animal:</strong>
            {{ responsable.nombre }} {{ responsable.apellido }} (DNI {{ responsable.dni }})
          </p>
          <div class="column">
            {% if firma_ingreso_uri %}
              <img src="{{ firma_ingreso_uri }}" class="firma-img" />
            {% endif %}
            <p><strong>Ingreso</strong></p>
            <p>
              <strong>Fecha:</strong> {{ atencion.fecha_ingreso|date:"d/m/Y" }}
              <strong>Hora:</strong> {{ atencion.hora_ingreso|time:"H:i" }}
            </p>
          </div>
          <div class="column">
            {% if firma_egreso_uri %}
              <img src="{{ firma_egreso_uri }}" class="firma-img" />
            {% endif %}
            <p><strong>Egreso</strong></p>
            <p>
              <strong>Fecha:</strong> {{ atencion.fecha_egreso|date:"d/m/Y" }}
              <strong>Hora:</strong> {{ atencion.hora_egreso|time:"H:i" }}
            </p>
          </div>
        </div>
      </div>

    {% else %}
      <p>No hay datos de esterilización.</p>
    {% endif %}
  </div>
</body>
</html>
